# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node
node_modules/

# Build output
dist/
dist-ssr/
.vite/

# Local env files
*.local

# IntelliJ / IDE
.idea/
*.iml

# VS Code
.vscode/*
!.vscode/extensions.json

# OS
.DS_Store

# Other IDE stuff
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?